@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --muted: 0 0% 98%;
    --background-subtle: 0 0% 98%;
    --foreground: 240 10% 15%;
    --muted-foreground: 240 3.8% 46.1%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: ;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --warning: 35, 100%, 52%;
    --warning-foreground: 0 0% 9%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
    --alpha: 0 0% 0%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240deg 10% 3.92%;
    --muted: 0 0% 0%;
    --foreground: 0 0% 98%;
    --muted-foreground: 240 5% 64.9%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --warning: 35, 100%, 52%;
    --warning-foreground: 0 0% 9%;
    --ring: 240 3.7% 15.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }


}

@layer base {
  :root {
    --white: 255 255 255;
    --black: 0 0 0;
    --gray-100: 244 244 245;
    --gray-150: 236 236 238;
    --gray-200: 236 236 238;
    --gray-300: 212 212 216;
    --gray-400: 161 161 170;
    --gray-500: 113 113 122;
    --gray-600: 82 82 91;
    --gray-700: 63 63 70;
    --gray-800: 39 39 42;
    --gray-900: 24 24 27;
    --alpha-white-400: 0, 0%, 100%, 0.1;
    --alpha-200: 0, 0%, 0%, 0.05;
    --alpha-300: 0, 0%, 0%, 0.08;
    --alpha-400: 0, 0%, 0%, 0.1;
    --alpha-600: 0, 0%, 0%, 0.21;
    --teal-100: 204 251 241;
    --teal-600: 13 148 136;
    --teal-700: 15 118 110;
    --blue-100: 219 234 254;
    --blue-600: 37 99 235;
    --blue-700: 29 78 216;
    --red-100: 254 226 226;
    --red-500: 239 68 68;
    --red-600: 220 38 38;
    --red-700: 185 28 28;
    --green-700: 21 128 61;
    --purple-700: 126 34 206;
    --pink-700: 190 24 93;
    --amber-700: 180 83 9;
  }

  .dark {
    --white: 0 0 0;
    --black: 255 255 255;
    --gray-100: 31 31 34;
    --gray-150: 31 31 34;
    --gray-200: 39 39 42;
    --gray-300: 63 63 70;
    --gray-400: 113 113 122;
    --gray-500: 161 161 170;
    --gray-600: 212 212 216;
    --gray-700: 229 229 229;
    --gray-800: 250 250 250;
    --gray-900: 255 255 255;
    --alpha-white-400: 0, 0%, 0%, 0.15;
    --alpha-200: 0, 0%, 100%, 0.15;
    --alpha-300: 0, 0%, 100%, 0.18;
    --alpha-400: 0, 0%, 100%, 0.21;
    --alpha-600: 0, 0%, 100%, 0.34;
    --teal-100: 4 47 46;
    --teal-600: 20 184 166;
    --teal-700: 45 212 191;
    --blue-100: 23 37 84;
    --blue-600: 59 130 246;
    --blue-700: 96 165 250;
    --red-100: 69 10 10;
    --red-500: 220 38 38;
    --red-600: 239 68 68;
    --red-700: 248 113 113;
    --green-700: 74 222 128;
    --purple-700: 192 132 252;
    --pink-700: 244 114 182;
    --amber-700: 251 191 36;
  }
}

@layer base {
  :root {
    --sidebar-width-expanded: 231px;
    --sidebar-width-collapsed: 49px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  :root,
  body {
    @apply h-screen w-screen;
  }
  body {
    @apply bg-background text-gray-900 font-sans;
  }
}
